{% extends 'base.html' %}
{% load static %}

{% block content %}
    <br>
    <table role="grid">
        <thead>
            <tr>
                <th scope="col"> {{ fields.pac_number }} </th>
                <th scope="col"> {{ fields.name }} </th>
                <th scope="col"> {{ fields.surname }} </th>
                <th scope="col"> {{ fields.dni }} </th>
                <th scope="col"> {{ fields.cuil }} </th>
                <th scope="col"> {{ fields.phone_number }} </th>
                <th scope="col"> {{ fields.treatment_status }} </th>
                <th scope="col"> {{ fields.ooss }} </th>
                <th scope="col"> {{ fields.civil_status }} </th>
            </tr>
        </thead>
        <tbody>
            {% for patient in patients %}
            
            <tr>
                
                <th scope="row"><a class= "table-link" href="{% url 'clinic_history:patient-detail' pk=patient.id %}"> {{ patient.pac_number }} </th>
                <td>  {{ patient.name }} </td>
                <td> {{ patient.surname }} </td>
                <td> {{ patient.dni }} </td>
                <td> {{ patient.cuil }} </td>
                <td> {{ patient.phone_number }} </td>
                <td> {{ patient.treatment_status | title }} </td>
                <td> {{ patient.ooss | upper }} </td>
                <td> {{ patient.civil_status}} </td>
                <td><a role="button" class= "row-btn" href="{% url 'clinic_history:patient-detail' pk=patient.id %}"> Ver </a></td>
                
            </tr>
            
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th scope="col">#</th>
                <td scope="col">Total</td>
                <td scope="col">Total</td>
                <td scope="col">Total</td>
                <td scope="col">Total</td>
                <td scope="col">Total</td>
            </tr>
        </tfoot>
    </table>
{% endblock content %}