{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% for patient in patients %}
        <div class="grid col-1 med-col-1 sm-col-1">
            
            <div class="card-blog">
                {% comment %} <a class="post-link" href="{% url 'blog:post-detail' slug=post.slug %}"> {% endcomment %}
                <div class="grid col-2 med-col-2 sm-col-1 card-content">
                    <img src="media/{{ post.thumbnail }}" alt="thumbnail" style="width:100%">
                    <div class="card-blog-content">
                    <h3><b>{{ patient.name }} </b></h3>
                    {% comment %} <p class="timestamp">{{ post.published|date:"d M Y" }}</p>
                    <p class="excerpt">{{ post.excerpt }}</p> {% endcomment %} 
                    </div>
                </div>
                </a>
            </div>
            
        </div>
    {% endfor %}
{% endblock content %}